.axis text {
  fill: #444;
}

.axis line, .axis path {
  stroke: #ccc;

}
rect {
    transition: fill-opacity .5s linear;
}
.bar {
  cursor: pointer;
}

.subdued {
    fill-opacity: 0.1;
    cursor: default;
}
